@import "../styles/variables.scss";

* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: $font-size-xsm;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

html,
body {
  background: $color-bg;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
