$color-bg: linear-gradient(to left, #fce5e6, #ddeef8);
$color-primary: linear-gradient(to left, #6229ee, #9267fe);
$color-secondary: #ffffff;
$color-tertiary: linear-gradient(to left, #6229ee, #315a78);
$color-accent: #6229ee;
$color-text: #161926;
$color-danger: rgb(211, 12, 12);
$color-gray: #b68c8c;
$color-gray-ligh: rgb(209, 209, 209);
$color-gray-black: #1c1c1c;

$margin-5: 5px;
$margin-10: 10px;
$margin-15: 15px;
$margin-20: 20px;
$margin-30: 30px;

$padding-5: 5px;
$padding-10: 10px;
$padding-15: 15px;
$padding-20: 20px;

$border-radius-5: 5px;
$border-radius-10: 10px;
$border-radius-15: 15px;
$border-radius-20: 20px;
$border-radius-30: 30px;

$font-size-xxsm: 10px;
$font-size-xsm: 12px;
$font-size-sm: 16px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 48px;

$screen-sm-min: 640px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;
