@import "../../styles/variables.scss";

.button {
  border: none;
  border-radius: $border-radius-30;
  cursor: pointer;
  font-size: $font-size-sm;
  padding: $padding-10;
  min-width: 140px;
  width: 100%;

  &--primary {
    background: $color-primary;
    color: $color-secondary;
  }

  &--secondary {
    background: $color-bg;
    color: $color-text;
  }

  &--danger {
    background: $color-danger;
    color: $color-secondary;
  }

  &--disabled {
    background: $color-gray;
    color: $color-text;
  }
}
